<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Learn Vuejs Components Codecourse</title>
    <link rel="stylesheet" href="">
    <style>
    </style>
</head>
<body>
    <div id="app">
        <message></message>
        <chat></chat>
    </div>
    
    <script src="http://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
    <script>
        let bus = new Vue();

        let Message = {
            data() {
                return {
                    message: null
                }
            },
            template: `
                <div class="message" v-if="message">
                    {{ message }}
                </div>
            `,
            mounted() {
                bus.$on('message:set', (message) => {
                    this.message = message;

                    setTimeout(() => {
                        this.message = null
                    }, 2000)
                })
            }
        }

        let Person = {
            props: ['person'],
            template: `
                <div class="person">
                    {{ person.name }}
                </div>
            `
        }

        let People = {
            data() {
                return {
                    people: []
                }
            },
            components: {
                'person': Person
            },
            template: `
                <div class="people">
                    <person v-for="person in people" :person="person" :key="person.id"></person>
                </div>
            `,
            mounted() {
                bus.$on('person:joined', (person) => {
                    this.people.push(person)

                    bus.$emit('message:set', `${person.name} has joined`)
                })
            }
        }

        let Chat = {
            components: {
                'people': People
            },
            template: `
                <div class="chat">
                    <people></people>      
                </div>
            `
        }


        setInterval(() => {
            bus.$emit('person:joined', {
                id: 1,
                name: faker.name.findName()
            })
        }, 5000)
        

        let app = new Vue({
            el: '#app',
            components: {
                'chat': Chat,
                'message': Message
            }
        });
    </script>
</body>
</html>